.fun-facts {
    display: flex;
    flex-direction: column;
}
.fun-facts{
    transition: all 0.3s ease;
    border-radius: 20px;
    padding:5px 5px 5px 5px;
    margin-bottom: 5px;
    background: #b1dae785;
    border: none;
}

