.fun-facts {
    display: flex;
    flex-direction: column;
}
.fun-facts{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 80%;
    transition: all 0.3s ease;
    border-radius: 20px;
    padding:5px 5px 5px 5px;
    margin-bottom: 5px;
    background: #b1dae785;
    border: none;
}
