// start flashlight css

.flashlight {
    cursor: none;
    width: 100vw;
    height: 100vh;
}

.flashlight:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
        circle 5vmax at var(--cursorX) var(--cursorY),
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,.5) 80%,
        rgba(0,0,0,.95) 100%
    )
}

// end flashlight css
