.tile {
    background: #b6edeb;
    border: 1px solid #999;
    float: left;
    font-size: 7rem;
    color: #2d2d2dc8;
    line-height: 10rem;
    height: 10rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 10rem;
    border-radius: 5px;
    border: solid 2px rgba(0, 0, 0, 0.523);
    opacity: 0.8;
  }

  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  